html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;

    /* default-state */
   /*  position: relative;  */
 /*    width: 600px; */
    background: #FFFFFF;
    text-align: center; 
} 



.container {
 max-width: 700px;
  display: flex; 
  flex-direction: column;
/*     justify-content: center;  */
/*   align-items: center;  */
    margin: 0 auto;
/*   margin: 120px 120px; */


}



 .header {
    width: 100%;
    height: 167px;
    flex-shrink: 0;
    background: url(header-img.png);
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat; 
    box-sizing: border-box;
    margin-top: 45px;
    margin-bottom: 67px;
    border: 5px solid saddlebrown;
} 


.header-div {
    display: flex; 
    flex-direction: column;

    color: #FFFFFF
}

.p-one {
    /* Layout */
    display: flex;
    width: 275.459px;
    height: 8px;
    flex-direction: column;
    flex-shrink: 0;
/*     margin-bottom: 15px; */

    /* Typography */

    color: #FFF;
    text-align: center;
    font-size: 39px;
    font-family: Smythe;
    line-height: 24px;
}

.p-two {

    /* Layout */
    display: flex;
    width: 275.459px;
    height: 8px;
    flex-direction: column;
    flex-shrink: 0;

    /* Typography */
    color: #FFF;
    font-size: 22.422px;
    font-family: Smythe;
    line-height: 13.798px;
        


}

.main-menu {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 50px;
   
  
}

.menu-item {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 0;
}

.list {
    margin-top: 0;
    padding-left: 10px;
    text-align: justify;
}

.item {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
    text-align: center;
}

.img-layout {
   /*  opacity: 0.7200000286102295; */
   height: 50px;
   width: 50px; 
    
/*    text-align: center; */
}

.item {
    color: #000;
    font-size: 28px;
    font-family: Smythe;
    line-height: 16.8px;
}

.divider {
    margin-bottom: 30px;
}

.ingredients {
    color: #8B8B8B;
    font-size: 16px;
    font-family: Smythe;
    line-height: 24px;
}

.price {
    color: #000;
    font-size: 20px;
    font-family: Smythe;
    line-height: 24px;
}

.list {
    list-style-type: none;
    text-align: left;
    padding: 5px;
}


.plus-btn{
    height: 45px;
    width: 45px;
    background-color: #FFF;
    border: none;
   
}

.plus-btn:hover {
    filter: grayscale(100%) sepia(100%);
  }


  /* Order */
  .menu-order {
    margin-bottom: 100px;
    padding: 0;
    width: 504px;


  }
.div-order {
    display: flex; 
    flex-direction: column;
}

.div-order-p {
    display:  flex;
    justify-content: space-between; 
    margin-bottom: 20px;
  
  } ´

.divider-order {

    border: 2px;
    width: 504px;
    height: 2px;
}

.remove-btn {
    background-color: #FFF;
    border: none;
    color: #BBB;
    font-size: 12px;
    font-family: Verdana;
    line-height: 24px;

}

.purchase-btn {
    /* Typograhy */
    color: var(--white, #FFF);
    font-size: 16px;
    font-family: Verdana;
    font-weight: 700;
    line-height: 24px;
    /* Layout */
    border: none;
    display: flex;
    width: 508px;
    padding: 15px;
    /* padding: 18px 175px 18px 194px; */
    justify-content: space-around;
    align-items: center;
    /* Style */
    border-radius: 3px;
    background: #16DB99;

    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}


